generate-soap-client/src/main/resources/GreetingService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soapservice.consul.learning.me.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GreetingServiceImplService" targetNamespace="http://soapservice.consul.learning.me.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soapservice.consul.learning.me.com/" targetNamespace="http://soapservice.consul.learning.me.com/" version="1.0">

            <xs:element name="greet" type="tns:greet"/>

            <xs:element name="greetResponse" type="tns:greetResponse"/>

            <xs:complexType name="greet">
                <xs:sequence>
                    <xs:element form="qualified" minOccurs="0" name="soapServiceRequest" type="tns:soapServiceRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="soapServiceRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="correlationId" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceNames" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="greetResponse">
                <xs:sequence>
                    <xs:element form="qualified" minOccurs="0" name="soapServiceRequest" type="tns:soapServiceResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="soapServiceResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="correlationId" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceNames" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="greet">
        <wsdl:part element="tns:greet" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="greetResponse">
        <wsdl:part element="tns:greetResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GreetingService">
        <wsdl:operation name="greet">
            <wsdl:input message="tns:greet" name="greet">
            </wsdl:input>
            <wsdl:output message="tns:greetResponse" name="greetResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GreetingServiceImplServiceSoapBinding" type="tns:GreetingService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="greet">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="greet">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="greetResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GreetingServiceImplService">
        <wsdl:port binding="tns:GreetingServiceImplServiceSoapBinding" name="GreetingServiceImplPort">
            <soap:address location="http://localhost:8084/services/greeting"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>